<div class="relative h-full">
  <div class="table-side"></div>
  <div class="table"></div>
  <div class="pizza"
    [ngClass]="{'active': active}">
    <div class="board"></div>
    <div class="base"></div>
    <div class="toppings"
      *ngIf="pizza">
      <div *ngFor="let topping of pizza.toppings; let i = index;"
        [style.zIndex]="i"
        @drop>
        <div class="topping {{ topping.label }}"></div>
        <div class="topping {{ topping.label }}"></div>
        <div class="topping {{ topping.label }}"></div>
        <div class="topping {{ topping.label }}"></div>
        <div class="topping {{ topping.label }}"></div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-4 left-6">
    <pizza-cart-indicator [pizzas]="pizzas"></pizza-cart-indicator>
  </div>
  <div class="absolute flex flex-col bottom-5 right-6 text-right">
    <span class="text-green-300 uppercase font-semibold text-xs">Pizza price :</span>
    <span class="text-green-400 text-3xl font-thin">{{ pizzaPrice | currency:'EUR':'symbol':'2.2-2' }}</span>
  </div>
</div>
