.table-side, .table {
  width: 1110px;
  transform: skewX(62deg);
  position: absolute;
  left: 310px;
  height: 1100px;
  z-index: 0;
}

.table-side {
  background: #2E3744;
  top: 380px;
  width: 1885px;
  left: -500px;
}

.table {
  background: #3A424F;
  top: 0;
}

.pizza {
  width: 100%;
  height: 342px;
  position: absolute;
  z-index: 1;
  transform: translate3d(-530px, -300px, 0);
  transition: transform 0.2s;

  &.active {
    transform: translateX(50%) translateX(-250px) translateY(25%);
  }

  .board {
    background: url("/assets/images/board.svg") no-repeat 0 20px;
    background-size: contain;
    width: 500px;
    height: 342px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
  }

  .base {
    background: url("/assets/images/base.svg") no-repeat;
    background-size: contain;
    width: 390px;
    height: 322px;
    position: absolute;
    left: 90px;
    top: 30px;
    z-index: 2;
  }
}
