<div class="flex md:flex-row flex-col-reverse 2xl:p-8 p-4 md:h-full">
  <div class="flex flex-col w-full md:w-2/3 md:h-full pt-6 md:pr-8">
    <ul class="flex justify-between items-center font-semibold text-sm text-gray-300">
      <li
        [ngClass]="{'text-green-500 border-b-2 border-green-500': isActive('/cart/customer-infos'), 'border-b border-gray-300': !isActive('/cart/customer-infos')}"
        class="flex-1 text-center pb-5 pt-2 px-4 uppercase">
        01 - Customer infos
      </li>
      <li
        [ngClass]="{'text-green-500 border-b-2 border-green-500': isActive('/cart/shipping-infos'), 'border-b border-gray-300': !isActive('/cart/shipping-infos')}"
        class="flex-1 text-center pb-5 pt-2 px-4 uppercase">
        02 - Shipping infos
      </li>
      <li
        [ngClass]="{'text-green-500 border-b-2 border-green-500': isActive('/cart/payment-selection'), 'border-b border-gray-300': !isActive('/cart/payment-selection')}"
        class="flex-1 text-center pb-5 pt-2 px-4 uppercase">
        03 - Payment selection
      </li>
    </ul>
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="flex flex-col w-full md:w-1/3 rounded-xl bg-gray-800 h-full py-6 px-8">
    <div class="flex justify-between items-center border-b border-gray-50 pb-4">
      <h2 class="flex-1 text-gray-50 font-thin text-2xl">Shopping cart</h2>
      <span
        class="flex items-center justify-center rounded-full bg-green-500 text-green-50 font-semibold text-sm w-6 h-6">
        {{ pizzas.length }}
      </span>
    </div>
    <div class="flex-auto flex-col my-4 pr-2 overflow-y-auto">
      <pizza-items [pizzas]="pizzas"
        (removePizza)="onRemovePizza($event)">
      </pizza-items>
    </div>
    <pizza-total-price *ngIf="pizzas.length > 0"
      [shippingPrice]="shippingPrice"
      [totalPrice]="totalPrice">
    </pizza-total-price>
  </div>
</div>
