<form (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="flex flex-col h-full">

  <div class="flex flex-col justify-start flex-1">
    <h2 class="mt-6 text-2xl font-thin text-gray-800">
      <span>Payment selection</span>
      <span class="pt-1 pl-1 text-red-500">*</span>
      <span *ngIf="form.get('method')?.hasError('required') && form.get('method')?.touched"
        class="pt-1 pl-2 text-xs font-normal text-red-500 error">
        Field is required
      </span>
    </h2>

    <div class="flex flex-col space-y-6 2xl:space-y-10">
      <div class="relative w-full p-4 mt-4 border rounded-lg"
        [ngClass]="form.get('method')?.value === 'card' ? 'border-green-500' : 'border-gray-300'">
        <div class="absolute flex space-x-4 top-3 2xl:top-4 right-4">
          <img src="/assets/images/visa.png"
            alt="Visa"
            class="w-6" />
          <img src="/assets/images/hsbc.png"
            alt="HSBC"
            class="w-6" />
          <img src="/assets/images/american-express.png"
            alt="american Express"
            class="w-6" />
        </div>
        <div class="flex items-start space-x-4">
          <input type="radio"
            class="mt-1 text-green-500 outline-none focus:ring-green-500"
            formControlName="method"
            id="method_card"
            value="card" />
          <label class="flex flex-col cursor-pointer"
            for="method_card">
            <span class="font-bold text-gray-800">Credit Card</span>
            <span class="text-gray-500 font-base">Safe money transfer using your bank account. Visa, Maestro, Discover,
              american Express.</span>
          </label>
        </div>
        <pizza-credit-card-form [parent]="form">
        </pizza-credit-card-form>
      </div>
      <div class="relative w-full p-4 mt-4 border rounded-lg"
        [ngClass]="form.get('method')?.value === 'paypal' ? 'border-green-500' : 'border-gray-300'">
        <div class="absolute flex space-x-4 top-1 2xl:top-2 right-4">
          <img src="/assets/images/paypal.png"
            alt="PayPal"
            class="w-24" />
        </div>
        <div class="flex items-start space-x-4">
          <input type="radio"
            class="mt-1 text-green-500 outline-none focus:ring-green-500"
            formControlName="method"
            id="method_paypal"
            value="paypal" />
          <label class="flex flex-col cursor-pointer"
            for="method_paypal">
            <span class="font-bold text-gray-800">PayPal</span>
            <span class="text-gray-500 font-base">You will be redirected to Paypal website to complete your
              <br />purchase securely.</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-between md:flex-row">
    <pizza-back-button></pizza-back-button>
    <div class="flex space-x-2 xl:space-x-6 md:space-x-4">
      <a [routerLink]="['/cart/shipping-infos']"
        class="px-4 py-2 font-semibold text-center text-gray-500 border border-gray-400 rounded hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 2xl:py-3 2xl:px-6">
        Previous
      </a>
      <button type="submit"
        class="flex-1 px-4 py-2 font-semibold text-center bg-green-400 rounded md:flex-none text-green-50 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 2xl:py-3 2xl:px-6">
        Complete order
      </button>
    </div>
  </div>
</form>
