<div class="mt-4 pizzas-container"
  [ngClass]="{'space-y-6': pizzas && pizzas.length > 0}">
  <ng-container *ngIf="pizzas && pizzas.length > 0; else emptyState">
    <div *ngFor="let pizza of pizzas; let i = index;"
      class="flex items-center text-gray-50 pizza">
      <div class="flex justify-center w-20">
        <pizza-icon [size]="pizza.size"
          [darkMode]="true">
        </pizza-icon>
      </div>
      <div class="flex flex-col justify-center flex-1 font-thin">
        <span class="text-gray-200">{{ pizza.size.label | titlecase }} ({{ pizza.size.value }}")</span>
        <span class="text-sm text-gray-400">
          <ng-container *ngFor="let topping of pizza.toppings; let last = last;">
            {{ topping.label }}<ng-container *ngIf="!last">, </ng-container>
            <ng-container *ngIf="last">.</ng-container>
          </ng-container>
        </span>
      </div>
      <div class="flex flex-col items-end">
        <span>{{ pizza | pizzaPrice | currency:'EUR':'symbol':'2.2-2' }}</span>
        <button class="text-sm text-green-500 hover:text-green-400"
          (click)="onRemovePizza(pizza)">
          Remove
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyState>
    <h3 class="mt-8 font-semibold text-center text-gray-200">Your cart is empty</h3>
    <span class="inline-block w-full mt-0 text-center text-gray-400">Looks like you haven't added <br /> anything to
      your cart yet.</span>
    <a routerLink="/"
      class="items-center inline-block w-full mt-4 text-center text-green-500 hover:text-green-400">Add
      your pizza</a>
  </ng-template>
</div>
