<div class="flex items-center pb-4 2xl:pt-10 lg:pt-6 pt-4">
  <h2 class="text-gray-400 text-sm font-medium uppercase">Add toppings :</h2>
  <span class="text-red-500 pl-1 pt-1">*</span>
  <span *ngIf="parent && parent?.get('toppings')?.errors && parent.get('toppings')?.touched"
    class="text-red-500 text-xs font-normal pt-1 pl-2">
    At least 3 toppings are required.
  </span>
</div>
<div class="grid md:grid-cols-3 grid-cols-2 gap-2 md:gap-4 2xl:gap-6">
  <div *ngFor="let topping of toppings"
    class="group flex">
    <label
      class="flex items-center border-2 cursor-pointer rounded overflow-hidden bg-gray-50 text-gray-800 text-sm w-full mb-4"
      [ngClass]="value.includes(topping) ? 'border-green-500': 'border-gray-200'">
      <input type="checkbox"
        [attr.name]="topping"
        [attr.value]="topping"
        (blur)="onBlur(topping)"
        (change)="onChange(topping)"
        (focus)="onFocus(topping)"
        [attr.checked]="value.includes(topping)"
        class="hidden w-0 h-0">
      <span class="flex justify-center bg-gray-200 bg-cover h-full w-9 2xl:w-14 {{ topping.label }}">
        <img [attr.src]="'assets/images/'+ topping.label +'.svg'"
          class="w-6 2xl:w-9"
          alt="" />
      </span>
      <span class="px-2 py-3 2xl:text-base"
        [ngClass]="{'text-green-500 font-semibold': value.includes(topping)}">
        {{ topping.label | titlecase }}
      </span>
    </label>
  </div>
</div>
