<form (ngSubmit)="onSubmit($event)"
  [formGroup]="parent"
  class="flex flex-col md:h-full p-6">
  <div class="flex flex-col flex-grow justify-between h-full">
    <div class="flex flex-col h-full">
      <h1 class="text-3xl 2xl:text-4xl font-light text-gray-800">Pizza Creator</h1>
      <span class="text-base 2xl:text-lg text-gray-400 font-thin pb-8">
        Compose your pizza by selecting a size and some toppings!</span>
      <div>
        <ng-container>
          <pizza-size [parent]="parent"
            [sizes]="sizes"
            formControlName="size">
          </pizza-size>
        </ng-container>

        <ng-container>
          <pizza-toppings [parent]="parent"
            [toppings]="toppings"
            formControlName="toppings">
          </pizza-toppings>
        </ng-container>
      </div>
    </div>
    <button type="submit"
      class="rounded bg-green-400 text-green-50 text-base 2xl:text-lg font-semibold text-center hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 p-2 2xl:p-3 mt-4 2xl:mt-0">
      Add to cart
    </button>
  </div>
</form>
