<div class="flex items-center">
  <h2 class="text-gray-400 font-medium pb-4 pt-6">Select pizza size :</h2>
  <span class="text-red-500 pl-1 pt-1">*</span>
  <span *ngIf="parent.get('pizza')?.get('size')?.hasError('required') && parent.get('pizza')?.get('size')?.touched"
                  class="text-red-500 text-xs capitalize font-normal pt-3 pl-2">
              Field is required
            </span>
</div>
<div class="flex justify-between space-x-6">
  <label
    *ngFor="let size of sizes; let i = index;"
    class="group flex flex-grow items-center cursor-pointer">
    <input
      type="radio"
      name="size"
      [attr.value]="size.value"
      (blur)="onBlur(size)"
      (change)="onChange(size)"
      (focus)="onFocus(size)"
      [attr.checked]="value === size"
      class="hidden w-0 h-0">
    <div
      class="border-2 border-white rounded-full m-1"
      [ngClass]="{'border-green-500': value === size}">
      <div class="pizza {{ size.label }} m-1 relative rounded-full bg-yellow-400 border-2 border-red-900 opacity-40">
        <div
        class="line absolute bg-white transform origin-center"
        [ngClass]="{'rotate-45': size.label === 'large', 'rotate-30': size.label === 'medium', 'hidden': size.label === 'small'}">
      </div>
      <div
        class="line absolute bg-white transform origin-center rotate-0"
        [ngClass]="{'-rotate-45': size.label === 'large', '-rotate-30': size.label === 'medium', 'hidden': size.label === 'small'}">
      </div>
      <div
        class="line absolute bg-white transform origin-center rotate-0"
        [ngClass]="{'hidden': size.label === 'medium'}">
      </div>
      <div
        class="line absolute bg-white transform origin-center rotate-90">
      </div>
      </div>
    </div>
    <span
      class="block text-sm font-normal text-gray-600 ml-2"
      [ngClass]="{'text-green-500 font-semibold': value === size}">
      {{ size.label | titlecase }} ({{ size.value }}")
    </span>
  </label>
</div>
