<div class="flex flex-col border-gray-500 pt-4 "
  [ngClass]="{'border-t mt-2': cartOpen}">
  <div class="flex w-full justify-between transition-all duration-300 overflow-hidden"
    [ngClass]="{'max-h-0': !cartOpen, 'max-h-full': cartOpen}">
    <span class="text-gray-300 font-thin">Subtotal</span>
    <span class="text-gray-400 font-medium">{{ totalPrice | currency:'EUR':'symbol':'2.2-2' }}</span>
  </div>
  <div class="flex w-full justify-between mt-1 transition-all duration-300 overflow-hidden"
    [ngClass]="{'max-h-0': !cartOpen, 'max-h-full': cartOpen}">
    <span class="text-gray-300 font-thin">Shipping</span>
    <span class="text-gray-400 font-medium">{{ shippingPrice | currency:'EUR':'symbol':'2.2-2' }}</span>
  </div>
  <div class="flex w-full justify-between text-xl border-gray-500"
    [ngClass]="{'mt-4 border-t-2 pt-3': cartOpen}">
    <span class="text-gray-300 font-base">Total</span>
    <span class="text-gray-50 font-medium">{{ (totalPrice + shippingPrice) | currency:'EUR':'symbol':'2.2-2' }}</span>
  </div>
</div>
